# Virtual environment
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Build
build/
dist/
*.egg-info/

# Environment variables
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# Ruff
.ruff_cache/

# Coverage
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log